
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0 auto;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family: 'Open Sans', sans-serif, 'Exo 2', sans-serif;
	vertical-align:baseline;
	image-rendering: auto;
}

body {
	color:#FFF;
	background: #DAD299;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #B0DAB9, #DAD299); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	overflow-x: hidden;
}

	#wrapper {
		margin: 0 auto;
	}
		.border1 { 
		position: relative;
		}
		
		#blocker {
			display: none;
		}
		
		.q-naire {
			display: none;
			cursor: default;
		}
		
		.iform {
			padding: 30px;
			padding-top: 90;
		}
		
		#ff {
			border-radius: 5px;
		}
		
		.q-naire a {
			color: black;
		}
		
		.border1:after {
			content: " ";
			position: absolute;
			top: 5px;
			left: 5px;
			right: 5px;
			bottom: 5px;
			z-index: -2;
		}
		
		.desc { 
		border: hidden;
		padding: 10px;
		font-size: 18px;
		}
		
			
		#stbtn {
			position: absolute;
			background-color: #009933;
			margin: 0 auto;
			vertical-align: middle;
			display:block;
			padding: 30px;
			width: 200px;
			left: 43%;
			top: 500px;
			color: white;
			font-size: 18px;
			text-shadow: 1px 1px 1px #000;
			border: hidden;
			border-radius: 20px;
			 -o-transition:.5s;
			-ms-transition:.5s;
			-moz-transition:.5s;
			-webkit-transition:.5s;
			transition:.5s;
		}
		
		#stbtn > a{
			border: none;
		}
		
		#stbtn:hover {
			cursor: pointer;
			background-color: #00b33c;
			text-shadow: 1px 1px 1px #FFF;
		}		

		#stbtn:active {
			outline: none;
			border: none;
		}
		
		#stbtn:focus {
			outline: none;
		}
		
		#scrolld {
			position: absolute;
			display:none;
			background: url("images/whitearrow.png");
			background-position: 5px 8px;
			background-size: 30px 25px;
			background-repeat: no-repeat;
			background-color: #009933;
			padding: 20px;
			width: 20px;
			top: 350px;
			left: 49%;
			color: white;
			border: hidden;
			border-radius: 20px;
			 -o-transition:.5s;
			-ms-transition:.5s;
			-moz-transition:.5s;
			-webkit-transition:.5s;
			transition:.5s;
		}
		
		#scrolld > a{
			border: none;
		}
		
		#scrolld:hover {
			cursor: pointer;
			background-color: #00b33c;
			text-shadow: 1px 1px 1px #FFF;
		}		

		#scrolld:active {
			outline: none;
			border: none;
		}
		
		#scrolld:focus {
			outline: none;
		}
		
		#comStat label {
			font-size: 16px;
		}
		
		#lawStat label {
			font-size: 16px;
		}
		
	/*.para1 h1 {
			position: relative;
			margin: 0 auto;
			text-align: center;
			font-size: 74px; 
			top: 17%;
			padding-bottom: 180px;
			text-shadow: 2px 2px 2px #b7f0cf;
		}*/
		
	.rslides {
  position: relative;
  z-index: -1;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: 900px;
  float: left;
  width: 100%;
  border: 0;
  overflow: hidden;
  object-fit: cover;
  object-position: 0 0;
  }

.banner {
	background: url("images/banner.jpg");
	background-position: 50% 0;
	background-size: cover;
	padding: 30px;
    position: relative;
    z-index: 3;
	height: 105px;
	overflow-y: show;
    width: 100%;
    background-repeat: no-repeat;
    border-bottom: .5px solid #0d0d0d;
}

.banner h1 {
	position: relative;
	margin: 0 auto;
	vertical-align: center;
	font-size: 82px;
	top: 23px;
	left: -50px;
	margin: 0 auto;
	text-align: center;
	text-shadow: 2px 2px 2px #b7f0cf;
	white-space: nowrap;
	overflow: hidden;
	}

#bimg {
	display:block;
	max-width: 20%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -100px;
	z-index: 4;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;"
}

@media screen and (max-width: 1110px) {
#bimg {
	display:block;
	margin-right: auto;
	margin-top: 10 auto;
	z-index: 4;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	transition: .5s;
}
}

@media screen and (max-width: 600px) {
#bimg {
	display:block;
	margin-right: auto;
	margin-top: auto;
	z-index: 4;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	transition: .5s;
}
}

@media screen and (max-width: 600px) {
.banner h1 {
	position: relative;
	font-size: 26px;
	top: 23px;
	left: -30px;
	margin: 0 auto;
	text-align: center;
	text-shadow: 2px 2px 2px #b7f0cf;
	white-space: nowrap;
	overflow: hidden;
	transition:font-size 2s;
	}
	}
	
.topnav {
  overflow: hidden;
  background-color: #0d0d0d;
  z-index: 2;
  position: relative;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 16px;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: #4eb151;
  color: black;
  font-weight: bold;
  box-shadow: 0px 3px 0px #4eb151;
  -webkit-transition: .5s;
  transition: .5s;
  
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  position: absolute;
  right: 0px;
  display: none;
  -webkit-transition: .5s;
  transition: .5s;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    position: absolute;
	right: 0px;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive .icon {
    position: absolute;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.sticky + .content {
  padding-top: 60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	-webkit-transition: .5s;
	transition: .5s;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
	position: absolute;
	top: 50px;
	-webkit-transition: .9s;
	transition: .9s;
}

#about {
	position:relative;
	color: #797953;
    margin: 0 auto;
    text-align: center;
	padding: 20px;
	bottom: 0px;
}